<a href="https://colab.research.google.com/github/JakeLee92/Deep-Learning-AI/blob/main/10~11_%E1%84%83%E1%85%A6%E1%84%8B%E1%85%B5%E1%84%90%E1%85%A5_%E1%84%90%E1%85%A1%E1%84%8B%E1%85%B5%E1%86%B8%E1%84%80%E1%85%AA_%E1%84%8F%E1%85%A5%E1%86%AF%E1%84%85%E1%85%A6%E1%86%A8%E1%84%89%E1%85%A7%E1%86%AB_07~08_%E1%84%8F%E1%85%A5%E1%86%AF%E1%84%85%E1%85%A6%E1%86%A8%E1%84%89%E1%85%A7%E1%86%AB_%E1%84%90%E1%85%A1%E1%84%8B%E1%85%B5%E1%86%B8_%E1%84%8B%E1%85%B5%E1%84%92%E1%85%A2(dict%2C_set).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 학습목표
 1. dictionary, set에 대해 이해 및 실습

### **dictionary**
 + 키와 값을 갖는 데이터 구조
 + 키는 내부적으로 hash값으로 저장
 + 순서를 따지지 않음. 즉, 인덱스가 없음

In [4]:
a = [0,1,2,3,4,12,32,32,222,111]

print(a[0])
print(a[4])

a = {'Korea' : 'Seoul', 'Canada' : 'Ottawa', 'USA' : 'Washington D.C'}

# print(a[0]) --> X 인덱스가 없다 

b = { 0:1, 1:2, 2:343 ,3:454 ,4:454 ,5:90}

print(a['Korea'])
print(b[3])

0
4
Seoul
454

+ **항목 추가 및 변경**
 - 기존에 키가 존재 하면, 새로운 값으로 업데이트
 - 존재하지 않으면, 새로운 키, 값 생성

In [8]:
a = {'Korea' : 'Seoul', 'Canada' : 'Ottawa', 'USA' : 'Washington D.C'}

a['Japan'] = 'Tokko'
a['Japan'] = 'Tokyo'
a['Japan2'] = 'Tokyo'
a['China'] = 'Beijing'

print(a)

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA': 'Washington D.C', 'Japan': 'Tokyo', 'Japan2': 'Tokyo', 'China': 'Beijing'}

+ **update()**
 * 두 딕셔너리를 병합함
 * 겹치는 키가 있다면 parameter로 전달되는 키 값이 overwrite된다.

In [10]:
 a = {'a': 1, 'b':2, 'c' :3}
 b = {'a': 4, 'd':4, 'e' :5}

a.update(b)

print(a)

{'a': 4, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

* **key삭제**
 - del 키워드 사용
 - pop 함수 이용

In [12]:
 a = {'a': 1, 'b':2, 'c' :3}

 a.pop('c')
 print(a)

 del a['a']
 print(a)

{'a': 1, 'b': 2}
{'b': 2}

* **clear()**
 + 딕셔너리의 모든 값을 초기화

In [13]:
print(a)
a.clear()
print(a)

{'b': 2}
{}

* **in**
 + key값 존재 확인
 + O(1) 연산 - 딕셔너리의 크기와 관계없이 항상 연산의 속도가 일정하다는 의미

In [16]:
 a = {'a': 1, 'b':2, 'c' :3}
 print(a)
b = [1,2,3,4,56,7,8,89,100]

#리스트는 조회를 하기 때문에 성능에 문제를 야기한다.
print(100 in b)
print('b' in b)


# Dictionary 는 키가 존재하여 바로 참조 가능
 print('b' in a)
 print('d' in a)

{'a': 1, 'b': 2, 'c': 3}
True
False
True
False

* **value access**
 + dict[key]로 접급, 키가 없는 경우 에러 발생 
 + .get() 함수로 접근, 키가 없는 경우 None반환

In [19]:
print(a.get('a'))
print(a.get('aa'))

if 'd' in a:
  print(a['d'])

1
None

#### **모든 keys, values 접근**
 + keys() - 키만 반환
 + values() - 값만 반환
 + items() - 키, 값의 튜플을 반환

In [22]:
print(a)

print(list(a.keys()))
print(list(a.values()))

list(a.items())

{'a': 1, 'b': 2, 'c': 3}
['a', 'b', 'c']
[1, 2, 3]

[('a', 1), ('b', 2), ('c', 3)]

### **set**
 + dictionary에서 key만 활용하는 데이터 구조로 이해
 + 수학에서의 집합과 동일한 개념

In [23]:
a = {1,1,2,2,3,4,5,1,5}
print(a)

{1, 2, 3, 4, 5}

* **set()으로 집합으로 변환**

In [26]:
a = {}

type (a)

a = set()

a = [1,1,2,2,3,4,5,1,5]

print(a)

b = set(a)

print(b)

[1, 1, 2, 2, 3, 4, 5, 1, 5]
{1, 2, 3, 4, 5}

+ **set operations**
 - 수학 연산과 동일
 - 교집합, 합집합, 차집합 등 지원

In [29]:
a = {1,2,3}
b = {2,3,4}

print(a.union(b)) # 합집합
print(list(a.intersection(b))) # 교집합
print(a.issubset(b)) # 부분집합

{1, 2, 3, 4}
[2, 3]
False